<nav class="nav" id="navLinks">
    <a href="/"><button class="nav-link">🏠 Главная</button></a>

    {{if .is_admin}}
        <a href="/admin"><button class="nav-link">⚙️ Админ-панель</button></a>
    {{end}}

    {{if .is_login}}
        <a href="/profile"><button class="nav-link">👤 Профиль</button></a>

        {{if .is_admin}}
            <span class="user-badge">admin <span class="admin-badge">админ</span></span>
        {{else}}
            <span class="user-badge">{{ .login}}</span>
        {{end}}

        <a href="#"><button class="nav-link danger logout">🚪 Выйти</button></a>
    {{end}}

    {{if not .is_login}}
        <a href="/login"><button class="nav-link">🔑 Войти</button></a>
        <a href="/register"><button class="nav-link">📝 Регистрация</button></a>
    {{end}}

</nav>